<!DOCTYPE html>
<html>
  <head>
    <title>Rock Or Not</title>
    <% include head %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<%include navbar%>

    <% if(name !== undefined){ %>
    	<h1>Welcome, <%=name%></h1>
    <% } %>

    <h1>Rock Or Not</h1>
  </body>
</html>
