<!DOCTYPE html>
<html>
  <head>
    <title>Rock Or Not</title>
    <% include head %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<%include navbar%>
    <h1>Rock Or Not</h1>
  </body>
</html>
