<!DOCTYPE html>
<html>
  <head>
	<title>Rock Or Not</title>
	<% include head %>
	</head>
	<body>
		<% loggedIn = true %>
		<% include navbar %>
		<h1>Welcome to the standings page</h1>
	</body>
</html>